:root {
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
  --font-secondary-size: 14px;
  --font-weight-normal: 400;
  --font-size-base: 16px;
  --line-height-base: 1.2; // 120%
  --color-text: #666666;
  --color-number: #254741;

}